<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper">

    <!--
    1、替换Mapper
    2、表名替换t_table
    3、Entity别名替换entityAlias
    4、生成setField
    -->

    <sql id="setField">
    </sql>

    <insert id="insert" parameterType="entityAlias">
        INSERT INTO t_table
        <include refid="setField"/>
    </insert>

    <update id="update" parameterType="entityAlias">
        UPDATE t_table
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

    <update id="delete" parameterType="java.lang.Integer">
        DELETE FROM t_table
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

    <select id="get" resultType="entityAlias">
        SELECT *
        FROM t_table
        WHERE id = #{id}
    </select>

    <select id="getList" resultType="entityAlias">
        SELECT *
        FROM t_table
        WHERE id in
        <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="query" resultType="entityAlias">
        SELECT *
        FROM t_table
        WHERE 1 = 1
    </select>

    <select id="queryTotal" resultType="java.lang.Integer">
        SELECT count(1)
        FROM t_table
        WHERE 1 = 1
    </select>

</mapper>
